examples {
  ["DataSource Config is compiling"] {
    new {
      driverClassName = null
      url = "jdbc://host:port/database"
      username = "test"
      password = "password"
      initializationMode = null
      hikari = null
    }
  }
}
