examples {
  ["Rendering is working withot secret"] {
    new {
      name = "Test"
      id = 12121
    }
  }
  ["Rendering is working only secret"] {
    new {
      secret = "TestSecret"
    }
  }
  ["Rendering is working for inheritance"] {
    new {
      name = "Test"
      id = 12121
      another = "AnotherField"
    }
  }
  ["Rendering is working for inheritance only for secrets"] {
    new {
      secret = "TestSecret"
      anotherSecret = "1212121"
    }
  }
  ["Listing secrets is working"] {
    new {
      list {
        new {
          secret = "TestSecret"
          anotherSecret = "1212121"
        }
      }
    }
  }
  ["Mapping secrets is working"] {
    new {
      map {
        Test {
          secret = "TestSecret"
          anotherSecret = "1212121"
        }
      }
    }
  }
  ["Lists of general types are working"] {
    new {
      list {
        "TEST"
        "TEST2"
      }
    }
  }
  ["Map of general types are working"] {
    new {
      map {
        TEST = "TEST"
        TEST2 = "TEST2"
      }
    }
  }
  ["Map of general types are working with secrets"] {
    new {}
  }
  ["Lists of general types under secret are working"] {
    new {
      list {
        "TEST"
        "TEST2"
      }
    }
  }
  ["Lists of general types under secret are hidden"] {
    new {}
  }
  ["Listing none secrets do not produce empty objects"] {
    new {}
  }
  ["Mapping none secrets do not produce empty objects"] {
    new {}
  }
}
